{% extends 'base.html'%} # imported form flask bootstrap allowing rendering of forms {% import "bootstrap/wtf.html" as wtf
%} {% block content %} {% for message in get_flashed_messages() %} {{message}} {% endfor%}

<div class="container-fluid" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSmPBmbwbyFD9VwPcXV_K6u_9gx5DkCqUYVwl1nHqZ42GDb_SxSA')">
    <a href="#">..</a>
    <br>
    <br>
    <br>
    <div class="container" style=>
        {{ wtf.quick_form(comment_form) }}
    </div>
    <br>
    <br> {% for comment in comments %}
    <div class="well">
        <ul>{{comment.description}}</ul>
        {% if current_user.is_authenticated %}
        <a href="/delete/{{comment.id}}">
            <button style="color:green">DELETE COMMENT</button>
        </a>
        </p>
    </div>
    {% endif %} {% endfor %}
</div>
{% endblock%}