{% extends 'base.html'%} # imported form flask bootstrap allowing rendering of forms {% import "bootstrap/wtf.html" as wtf
%} {% block content %} {% for message in get_flashed_messages() %} {{message}} {% endfor%}
<!-- <div class="row" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSmPBmbwbyFD9VwPcXV_K6u_9gx5DkCqUYVwl1nHqZ42GDb_SxSA'); height: 550px;">
    <br>
    <br>
    <div class="container" style="background-color:  #778899;"> -->
        <a href="{{url_for('main.fashion')}}">Blog Post</a>
        {{ wtf.quick_form(blog_form) }}
    </div>
</div>

{% endblock%}