<div class="navbar navbar-inverse" role="navigation" style="background-color: #CD5C5C;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" style="color: black;"> Blog Site</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/" style="color: black;">Fashion</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="/category"> </a>
                </li>
            </ul>
        </div>
<ul class="nav navbar-nav navbar-right" style="color:white; font-size:2.5em;">
    {% if current_user.is_authenticated %}
    <li>
        <a href="{{url_for('main.profile',uname=current_user.username)}}" style="color: black;">Profile</a>
    </li>

    <li>
        <a class="nav-item nav-link" href="{{ url_for('auth.logout') }}">Sign out</a>
    </li>
    {% else %}
    <li>
        <a href="{{url_for('main.subscriber')}}">
            <h3>Subscribe</h3>
        </a>
    </li>
    <li>
        <a class="nav-item nav-link" href="{{ url_for('auth.login') }}">
            <span class="glyphicon glyphicon-log-in"></span>Sign in</a>
    </li>
    <li>
        <a class="nav-item nav-link" href="{{ url_for('auth.register') }}">
            <span class="glyphicon glyphicon-user"></span>Sign Up</a>
    </li>
    {% endif %}
</ul>
</div>
</div>
</div>