<div class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-collapse collapse">
            <ul class="btn btn-warning">

                <!-- <li>
                    <a href="/"> Home </a>
                </li> -->
                <li>
                    <a href="/"> Blog Site</a>
                </li>
                 <li class="dropdown">
                     <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Blogs
                        <span class="caret"></span>
                    </a> 
                    <ul class="dropdown-menu">
                        <li>
                            <a href="./men">Men's Fashion</a>
                        </li>
                        <li>
                            <a href="./women">Women's Fashion</a>
                        </li>
                        <ul>

            <div class="container" style="text-align: right; font-size:2.0em;",
            
              <ul class="nav navbar-nav navbar-center">
                {% if current_user.is_authenticated %}
                <li>
                    <a class="nav-item nav-link" href="{{ url_for('main.new_blog') }}">Add Blog</a>
                </li>
                <li>
                    <a class="nav-item nav-link" href="{{ url_for('auth.logout') }}">Sign out</a>
                </li>
                {% else %}
                <li>
                    <a class="nav-item nav-link" href="{{ url_for('auth.login') }}">
                        <span class="glyphicon glyphicon-log-in"></span>Sign in</a>
                </li>
                <li>
                    <a class="nav-item nav-link" href="{{ url_for('auth.register') }}">
                        <span class="glyphicon glyphicon-user"></span>Sign Up</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>